.Navbar {
    width: 60%;
    margin: auto;
}
.nav1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    position: sticky;
}
.resume a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: rgb(183, 124, 238);
    border: 1px solid rgb(183, 124, 238);
    padding: 4px;
}
.resume :hover{
    background: rgb(183, 124, 238);
    color: black;
    cursor: pointer;
    font-weight: 500;
}
.xan {
    color: #d5d7e2;
    font-size: 45px;
}
.tech {
    color: rgb(183, 124, 238);
}
@media (max-width:320px) {
    .Navbar {
        width: 90%;
        margin: auto;
    }
    .resume a{
        display: flex;
        align-items: center;
        text-decoration: none;
        color: rgb(183, 124, 238);
        border: 1px solid rgb(183, 124, 238);
        padding: 2px;
    }
    .xan {
        color: #d5d7e2;
        font-size: 35px;
    }
}